body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #00a2e8;
}

.navbar.navbar-default, .navbar.navbar-default .nav>li>a, .navbar.navbar-default .nav .dropdown .dropdown-menu>li>a {
    color: #00a2e8;
}

.navbar-default .avacuum .navbar-toggle,.navbar-default .avacuum .navbar-toggle:hover {
    border-color: #00a2e8;
    background-color: #fff;
}

.navbar-default .avacuum .navbar-toggle .icon-bar {
    background-color: #00a2e8;
}
.navbar-brand img {
    position: relative;
    top: -15px;
}

h1 {  
font-family: 'Raleway', sans-serif;
color: white;
}
